body {
  background: #212121;
}

h1 {
  text-transform: uppercase;
}

div {
  background: #3CA55C;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

canvas {
  margin: 0 auto;
  display: block;
}